html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

#map {
    height: 100%;
    width: 100%;
}

.content {
    width: 100%;
}

.left {
    text-align: left;
    float: left;
    margin-left: -15px;
}

.right {
    text-align: right;
    float: right;
}

.boxId {
    margin-bottom: 20px;
}
